.guild-container {
    display: flex;
    flex-direction: row;
    padding: 20px 20px;

    .guild-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 350px;

        .guild-header {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            .guild-name {
                display: flex;
                font-size: 30px;
                font-weight: 700;
                margin-top: 10px;
                justify-content: center;
                align-items: center;
                margin-bottom: 10px;
                inline-size: 320px;
                overflow-wrap: break-word;
                word-break: break-all;
            }

            .guild-description {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                margin-top: 20px;
                padding: 20px;
                background-color: #2f3136;
                border-radius: 5px;
                border: 1px solid #202225;
            }
        }
    }
}